:root {
  --color-primery: #4f4f4f;
  --color-background: #f5f5f5;
  --color-primary-white: #ffffff;
  --color-section-background: #2f303a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-primery);
  background-color: var(--color-primary-white);
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav-links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-links:hover {
  color: #2196f3;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #000000;
}

.hero-title {
  display: flexbox;
  width: 696px;
  height: 120px;
  top: 280px;
  left: 452px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-primary-white);
}

.section-main {
  position: relative;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  bottom: 30px;
  padding: 200px 452px 280px;
  line-height: 1.36;
  background: #2f303a;
}

.primery-button {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--color-primary-white);
  width: 216px;
  height: 50px;
  top: 430px;
  margin: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  align-items: normal;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
}
.primery-button:hover {
  color: #2196f3;
  background-color: var(--color-primary-white);
  border: 2px solid red;
}
.primery-button:focus {
  color: #2196f3;
  background-color: var(--color-primary-white);
  border: 2px solid red;
}

.section-advantages: {
  position: relative;
  font-style: normal;
  position: absolute;
  width: 1170px;
  height: 98px;
  left: 215px;
  top: 774px;
  padding: 200px 452px 280px;
  line-height: 1.36;
  background-color: var(--color-primary-white);
}

.advantages-titles: {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-text: {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*footer*/
.address: {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.address-mail: {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
