body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}

.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em; 
    color: #2196F3;
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav-links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-links:hover {
    color: #2196F3;
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

.section-main {
    height: 600px;
    padding: 200px 300px;
    line-height: 136%;
    background: #2F303A;
}

.section-advantages {
    /*position: relative;
    width: 1600px;
    height: 246px;*/
    background: #FFFFFF;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.primery-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}
.primery-button:hover {
    color: #F5F5F5;
    background-color: #fff;
    border: 2px solid red;
}
primery-button:focus {
    color: #F5F5F5;
    background-color: #fff;
    border: 2px solid red;
}
primery-button:active {
    color: #F5F5F5;
    background-color: #fff;
    border: 2px solid red;
}
.hero-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    cursor: pointer;
}